@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$white: white;
$background-gradient-start: #E43F6F;
$background-gradient-end: #FFCF56;

// Fonts
$font: 'Montserrat', Courier, monospace;
$titlefont: 600;
$textfont: 300;