@import '../variables/Variables.scss';

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient($background-gradient-start, $background-gradient-end);
    height: 93vh;

    header {
        font-family: $font;
        font-weight: $titlefont;
        font-size: 2.5rem;
        color: $white;
        margin-bottom: 2rem;
    }

    .gpt-container {
        display: flex;
        justify-content: center;
        gap: 1rem;

        .container {
            width: 30vw;
            height: 65vh;
            background: $white;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            margin-bottom: 10px;
            font-family: $font;
            font-weight: $titlefont;
            font-size: 20px;
            color: $pink;
        }

        .markdown-content{
            font-family: $font;
            font-weight: $textfont;
            text-align: start;
            padding: 5px 20px;
            font-size: 16px;
            line-height: 1.15;
            overflow: auto;
            height: 100%;
            width: 100%;
        }
        .markdown-content code {
            font-size: small;
            color: $pink;
            background: $gray;
          }
    }

    .message-chat-gpt {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        border: 1px solid black;
        width: 45vw;
        height: 5vh;
        border-radius: 10px;
        padding-right: 6px; 

        input {
            flex-grow: 1;
            border: none;
            outline: none;
            padding: 20px;
            font-size: 16px;
            background: transparent;
            
            &::placeholder {
                color: rgba(0, 0, 0, 0.5);
              }
        }

        .send {
            cursor: pointer;
            width: 2vw;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}