@import '../variables/Variables.scss';

.mainPage {
    height: 87vh;
    padding-top: 50px;
    padding-left: 120px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient($background-gradient-start, $background-gradient-end);

    .container {
        font-family: $font;

        h1 {
            font-family: $font;
            font-weight: $titlefont;
            font-size: 48px;
            color: $white;
        }

        .navigation {
            padding-top: 10px;
            font-family: $font;

            button {
                color: $white;
                width: 80px;
                height: 35px;
                font-weight: $textfont;
                font-size: 18px;
                text-align: left;
                background: transparent;
                border: 0.5px solid;
                border-radius: 5px;
            }
    
            a {
                padding-left: 20px;
                text-decoration: none;
                color: $white;
                font-weight: $textfont;
            }
        }
    }
        
        
    img {
        width: 40%;
        height: 90%;
        padding-right: 0px;
    }
}
