@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.mainPage {
  height: 87vh;
  padding-top: 50px;
  padding-left: 120px;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#E43F6F, #FFCF56);
}
.mainPage .container {
  font-family: "Montserrat", Courier, monospace;
}
.mainPage .container h1 {
  font-family: "Montserrat", Courier, monospace;
  font-weight: 600;
  font-size: 48px;
  color: white;
}
.mainPage .container .navigation {
  padding-top: 10px;
  font-family: "Montserrat", Courier, monospace;
}

.mainPage .container .navigation button {
  color: white;
  width: 100px;
  height: 35px;
  font-weight: 300;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  text-align: left;
  background: transparent;
  justify-content: center;
  gap: 10px;
  border: 0.5px solid;
  border-radius: 5px;
  cursor: pointer;
}
.mainPage .container .navigation button .arrow {
  width: 15px;
  height: auto;
}
.mainPage .container .navigation a {
  padding-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 300;
}
.mainPage img {
  width: 40%;
  height: 90%;
  padding-right: 0px;
}/*# sourceMappingURL=MainPage.css.map */

@media screen and (max-width: 1200px) and (min-width:300px){
  .mainPage{
    display: flex;
    flex-direction: column;
   
  }
  
  .mainPage .container h1{
    margin-left: -32%;
    margin-top: -8%;
     font-size: 22px;
  }
  .mainPage .container .navigation{
   
    margin-left: -35%;
    margin-top: -6%;
    width:130%
  }
  .mainPage .container .navigation button{
    margin-left: 15%;
    
  }
  .mainPage img {
  width: 160%;
  height: 90%;
 margin-left: -60%;
 margin-top: 3%;
 
}
.mainPage .container .navigation button .arrow {
  margin-left: -5%;
}
}
@media screen and (max-width: 390px) and (min-width:375px){
   .mainPage .container h1{
    margin-left: -33%;
    margin-top: -7%;
     
  }
  .mainPage{
    height: 35rem;
  }
}
@media screen and (max-width: 412px) and (min-width:390px){
   .mainPage .container h1{
    margin-left: -33%;
    margin-top: -7%;
     
  }
  .mainPage{
    height: 46rem;
  }
}

@media screen and (max-width: 430px) and (min-width:412px){
   .mainPage .container h1{
    margin-left: -27%;
    margin-top: -8%;
    font-size: 25px;
  }
  .mainPage{
    height: 50rem;
  }
  .mainPage .container .navigation button{
    margin-left: 22%;
    margin-top: 3%;
  }
}
@media screen and (max-width: 450px) and (min-width:430px){
   .mainPage .container h1{
    margin-left: -25%;
    margin-top: -8%;
    font-size: 25px;
  }
  .mainPage{
    height: 52rem;
  }
  
  .mainPage .container .navigation button{
    margin-left: 24%;
    margin-top: 3%;
  }
}

@media screen and (max-width: 1000px) and (min-width:768px){
   .mainPage .container h1{
    margin-left: -15%;
    margin-top: -5%;
    font-size: 35px;
  }
  .mainPage{
    
    
  }
 
   .mainPage .container .navigation button{
    margin-left: 30%;
    
  }
  .mainPage .container .navigation{
   
    margin-left: -25%;
    margin-top: -5%;
    width:130%
  }
}

@media screen and (max-width: 1124px) and (min-width:912px){
    .mainPage .container h1{
    margin-left: -10%;
    margin-top: 0%;
    font-size: 45px;
  }
  .mainPage{
    height: 78rem;
    
  }


  .mainPage .container .navigation{
   
    margin-left: -20%;
    margin-top: -2%;
    width:130%
  }
}