@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-family: "Montserrat", Courier, monospace;
  font-weight: 300;
  font-size: 14px;
}
footer a {
  text-decoration: none;
  color: black;
}